openapi: 3.1.0
info:
  title: Eventbrite Platform Attendees Ticket Classes API
  description: Partial OpenAPI for the Eventbrite Platform API. The official Eventbrite Python SDK at https://github.com/eventbrite/eventbrite-sdk-python confirms the base URL https://www.eventbriteapi.com/v3 and the /users/me/, /events/{id}/, and /ticket_classes endpoint patterns. The surrounding resources (organizations, orders, attendees, venues, categories) follow the same conventions documented at https://www.eventbrite.com/platform/api. Authentication is OAuth 2.0 bearer token (private token or OAuth-issued token).
  version: 3.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://www.eventbriteapi.com/v3
  description: Eventbrite v3 production API
security:
- bearerAuth: []
tags:
- name: Ticket Classes
paths:
  /events/{event_id}/ticket_classes/:
    parameters:
    - name: event_id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: List ticket classes for an event
      description: 'Confirmed by SDK README: ticket_classes accessible via the expansions parameter on events.'
      operationId: listTicketClasses
      tags:
      - Ticket Classes
      responses:
        '200':
          description: Ticket classes
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticket_classes:
                    type: array
                    items:
                      $ref: '#/components/schemas/TicketClass'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      summary: Create a ticket class
      operationId: createTicketClass
      tags:
      - Ticket Classes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ticket_class:
                  $ref: '#/components/schemas/TicketClass'
      responses:
        '200':
          description: Created ticket class
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketClass'
components:
  schemas:
    TicketClass:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        cost:
          $ref: '#/components/schemas/Money'
        fee:
          $ref: '#/components/schemas/Money'
        free:
          type: boolean
        donation:
          type: boolean
        minimum_quantity:
          type: integer
        maximum_quantity:
          type: integer
        quantity_total:
          type: integer
        quantity_sold:
          type: integer
        sales_start:
          type: string
          format: date-time
        sales_end:
          type: string
          format: date-time
        hidden:
          type: boolean
    Pagination:
      type: object
      properties:
        object_count:
          type: integer
        page_number:
          type: integer
        page_size:
          type: integer
        page_count:
          type: integer
        has_more_items:
          type: boolean
        continuation:
          type: string
    Money:
      type: object
      properties:
        currency:
          type: string
        value:
          type: integer
          description: Amount in minor units
        major_value:
          type: string
        display:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 token (private token or OAuth-issued)
