openapi: 3.1.0
info:
  title: Eventbrite Platform Attendees API
  description: Partial OpenAPI for the Eventbrite Platform API. The official Eventbrite Python SDK at https://github.com/eventbrite/eventbrite-sdk-python confirms the base URL https://www.eventbriteapi.com/v3 and the /users/me/, /events/{id}/, and /ticket_classes endpoint patterns. The surrounding resources (organizations, orders, attendees, venues, categories) follow the same conventions documented at https://www.eventbrite.com/platform/api. Authentication is OAuth 2.0 bearer token (private token or OAuth-issued token).
  version: 3.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://www.eventbriteapi.com/v3
  description: Eventbrite v3 production API
security:
- bearerAuth: []
tags:
- name: Attendees
paths:
  /events/{event_id}/attendees/:
    parameters:
    - name: event_id
      in: path
      required: true
      schema:
        type: string
    - name: status
      in: query
      schema:
        type: string
    - name: changed_since
      in: query
      schema:
        type: string
        format: date-time
    - name: page
      in: query
      schema:
        type: integer
    get:
      summary: List attendees for an event
      operationId: listEventAttendees
      tags:
      - Attendees
      responses:
        '200':
          description: Attendees list
          content:
            application/json:
              schema:
                type: object
                properties:
                  attendees:
                    type: array
                    items:
                      $ref: '#/components/schemas/Attendee'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
components:
  schemas:
    Attendee:
      type: object
      properties:
        id:
          type: string
        event_id:
          type: string
        order_id:
          type: string
        ticket_class_id:
          type: string
        ticket_class_name:
          type: string
        checked_in:
          type: boolean
        cancelled:
          type: boolean
        refunded:
          type: boolean
        status:
          type: string
        created:
          type: string
          format: date-time
        changed:
          type: string
          format: date-time
        profile:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
              format: email
            first_name:
              type: string
            last_name:
              type: string
    Pagination:
      type: object
      properties:
        object_count:
          type: integer
        page_number:
          type: integer
        page_size:
          type: integer
        page_count:
          type: integer
        has_more_items:
          type: boolean
        continuation:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 token (private token or OAuth-issued)
