openapi: 3.1.0
info:
  title: Eventbrite Platform Attendees Orders API
  description: Partial OpenAPI for the Eventbrite Platform API. The official Eventbrite Python SDK at https://github.com/eventbrite/eventbrite-sdk-python confirms the base URL https://www.eventbriteapi.com/v3 and the /users/me/, /events/{id}/, and /ticket_classes endpoint patterns. The surrounding resources (organizations, orders, attendees, venues, categories) follow the same conventions documented at https://www.eventbrite.com/platform/api. Authentication is OAuth 2.0 bearer token (private token or OAuth-issued token).
  version: 3.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://www.eventbriteapi.com/v3
  description: Eventbrite v3 production API
security:
- bearerAuth: []
tags:
- name: Orders
paths:
  /events/{event_id}/orders/:
    parameters:
    - name: event_id
      in: path
      required: true
      schema:
        type: string
    - name: status
      in: query
      schema:
        type: string
    - name: page
      in: query
      schema:
        type: integer
    get:
      summary: List orders for an event
      operationId: listEventOrders
      tags:
      - Orders
      responses:
        '200':
          description: Orders list
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /orders/{order_id}/:
    parameters:
    - name: order_id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get an order
      operationId: getOrder
      tags:
      - Orders
      responses:
        '200':
          description: Order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
components:
  schemas:
    Pagination:
      type: object
      properties:
        object_count:
          type: integer
        page_number:
          type: integer
        page_size:
          type: integer
        page_count:
          type: integer
        has_more_items:
          type: boolean
        continuation:
          type: string
    Order:
      type: object
      properties:
        id:
          type: string
        event_id:
          type: string
        status:
          type: string
        created:
          type: string
          format: date-time
        changed:
          type: string
          format: date-time
        name:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        costs:
          type: object
          properties:
            base_price:
              $ref: '#/components/schemas/Money'
            eventbrite_fee:
              $ref: '#/components/schemas/Money'
            gross:
              $ref: '#/components/schemas/Money'
            payment_fee:
              $ref: '#/components/schemas/Money'
            tax:
              $ref: '#/components/schemas/Money'
    Money:
      type: object
      properties:
        currency:
          type: string
        value:
          type: integer
          description: Amount in minor units
        major_value:
          type: string
        display:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 token (private token or OAuth-issued)
