openapi: 3.1.0
info:
  title: Eventbrite Platform Attendees Organizations API
  description: Partial OpenAPI for the Eventbrite Platform API. The official Eventbrite Python SDK at https://github.com/eventbrite/eventbrite-sdk-python confirms the base URL https://www.eventbriteapi.com/v3 and the /users/me/, /events/{id}/, and /ticket_classes endpoint patterns. The surrounding resources (organizations, orders, attendees, venues, categories) follow the same conventions documented at https://www.eventbrite.com/platform/api. Authentication is OAuth 2.0 bearer token (private token or OAuth-issued token).
  version: 3.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://www.eventbriteapi.com/v3
  description: Eventbrite v3 production API
security:
- bearerAuth: []
tags:
- name: Organizations
paths:
  /users/{user_id}/organizations/:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: List organizations for a user
      operationId: listUserOrganizations
      tags:
      - Organizations
      responses:
        '200':
          description: Paginated list of organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
components:
  schemas:
    Organization:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        vertical:
          type: string
        image_id:
          type: string
        parent_id:
          type: string
    Pagination:
      type: object
      properties:
        object_count:
          type: integer
        page_number:
          type: integer
        page_size:
          type: integer
        page_count:
          type: integer
        has_more_items:
          type: boolean
        continuation:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 token (private token or OAuth-issued)
