openapi: 3.2.0
info:
  title: Eventbrite Platform Organizations API
  description: Partial OpenAPI for the Eventbrite Platform API.
  version: 3.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://www.eventbriteapi.com/v3
  description: Eventbrite v3 production API
security:
- bearerAuth: []
tags:
- name: Organizations
paths:
  /users/{user_id}/organizations/:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: List organizations for a user
      operationId: listUserOrganizations
      tags:
      - Organizations
      responses:
        '200':
          description: Paginated list of organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
components:
  schemas:
    Organization:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        vertical:
          type: string
        image_id:
          type: string
        parent_id:
          type: string
    Pagination:
      type: object
      properties:
        object_count:
          type: integer
        page_number:
          type: integer
        page_size:
          type: integer
        page_count:
          type: integer
        has_more_items:
          type: boolean
        continuation:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 token (private token or OAuth-issued)
